# COMP5318 Assignment 1: Classification

### Group number: 59  , SID1: 490560477 , SID2: 490532430

In [1]:
# Import all libraries
from sklearn.model_selection import StratifiedKFold
import pandas as pd
from statistics import mean
import numpy as np

In [2]:
# Load Breast Cancer Wisconsin Dataset

my_data=pd.read_csv("/content/breast-cancer-wisconsin.csv")
class_col=my_data["class"]
my_data.drop("class", axis=1, inplace=True)
my_data

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
0,5,1,1,1,2,1,3,1,1
1,5,4,4,5,7,10,3,2,1
2,3,1,1,1,2,2,3,1,1
3,6,8,8,1,3,4,3,7,1
4,4,1,1,3,2,1,3,1,1
...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2,1,1,1
695,2,1,1,1,2,1,1,1,1
696,5,10,10,3,7,3,8,10,2
697,4,8,6,4,3,4,10,6,1
698,4,8,8,5,4,5,10,4,1

In [3]:
# Pre-process dataset
import numpy as np
from sklearn.impute import SimpleImputer
my_data=my_data.replace("?",np.nan)
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(my_data)
data = imputer.transform(my_data)
data_new = pd.DataFrame(data,columns=my_data.columns)

In [4]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
col = data_new.columns
b = scaler.fit_transform(data_new)
new_data = pd.DataFrame(b, columns=col)
new_data.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
0,0.444444,0.000000,0.000000,0.000000,0.111111,0.000000,0.222222,0.000000,0.0
1,0.444444,0.333333,0.333333,0.444444,0.666667,1.000000,0.222222,0.111111,0.0
2,0.222222,0.000000,0.000000,0.000000,0.111111,0.111111,0.222222,0.000000,0.0
3,0.555556,0.777778,0.777778,0.000000,0.222222,0.333333,0.222222,0.666667,0.0
4,0.333333,0.000000,0.000000,0.222222,0.111111,0.000000,0.222222,0.000000,0.0

In [5]:
new_class_col=[]
for i in class_col:
  if i=="class1":
    new_class_col.append(0)
  if i=="class2":
    new_class_col.append(1)
new_data["class"]=new_class_col
new_data

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,class
0,0.444444,0.000000,0.000000,0.000000,0.111111,0.000000,0.222222,0.000000,0.000000,0
1,0.444444,0.333333,0.333333,0.444444,0.666667,1.000000,0.222222,0.111111,0.000000,0
2,0.222222,0.000000,0.000000,0.000000,0.111111,0.111111,0.222222,0.000000,0.000000,0
3,0.555556,0.777778,0.777778,0.000000,0.222222,0.333333,0.222222,0.666667,0.000000,0
4,0.333333,0.000000,0.000000,0.222222,0.111111,0.000000,0.222222,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...
694,0.222222,0.000000,0.000000,0.000000,0.222222,0.111111,0.000000,0.000000,0.000000,0
695,0.111111,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000,0.000000,0
696,0.444444,1.000000,1.000000,0.222222,0.666667,0.222222,0.777778,1.000000,0.111111,1
697,0.333333,0.777778,0.555556,0.333333,0.222222,0.333333,1.000000,0.555556,0.000000,1
698,0.333333,0.777778,0.777778,0.444444,0.333333,0.444444,1.000000,0.333333,0.000000,1

In [6]:
# Print first ten rows of pre-processed dataset to 4 decimal places
first10 = new_data.head(10)
#print(first10)
X = first10[first10.columns[:-1]]

Y = first10[first10.columns[-1:]]
class_list = Y.values.tolist()
#print(class_list)
answerlist =[]


for x in X.values.tolist():
  answerlist.append(",".join([str("{:.4f}".format(i)) for i in x ] ))
  
i = 0 
while i < len(answerlist):
  answerlist[i] = answerlist[i] + "," + str(class_list[i][0])
  i+=1

for answer in answerlist:
  print(answer)

0.4444,0.0000,0.0000,0.0000,0.1111,0.0000,0.2222,0.0000,0.0000,0
0.4444,0.3333,0.3333,0.4444,0.6667,1.0000,0.2222,0.1111,0.0000,0
0.2222,0.0000,0.0000,0.0000,0.1111,0.1111,0.2222,0.0000,0.0000,0
0.5556,0.7778,0.7778,0.0000,0.2222,0.3333,0.2222,0.6667,0.0000,0
0.3333,0.0000,0.0000,0.2222,0.1111,0.0000,0.2222,0.0000,0.0000,0
0.7778,1.0000,1.0000,0.7778,0.6667,1.0000,0.8889,0.6667,0.0000,1
0.0000,0.0000,0.0000,0.0000,0.1111,1.0000,0.2222,0.0000,0.0000,0
0.1111,0.0000,0.1111,0.0000,0.1111,0.0000,0.2222,0.0000,0.0000,0
0.1111,0.0000,0.0000,0.0000,0.1111,0.0000,0.0000,0.0000,0.4444,0
0.3333,0.1111,0.0000,0.0000,0.1111,0.0000,0.1111,0.0000,0.0000,0

### Part 1: Cross validation without parameter tuning

In [7]:
## Setting the 10 fold stratified cross-validation
cvKFold=StratifiedKFold(n_splits=10, shuffle=True, random_state=0)

# The stratified folds from cvKFold should be provided to the classifiers

In [8]:
from sklearn.metrics import accuracy_score
# K-Nearest Neighbour
from sklearn.neighbors import KNeighborsClassifier

def kNNClassifier(X, y, k):
  scores=[]
  knn = KNeighborsClassifier(n_neighbors=k)
  for a,b in cvKFold.split(X, y):
    x_train, x_test = X.iloc[a], X.iloc[b]
    y_train, y_test = y.iloc[a], y.iloc[b] 
    knn.fit(x_train, y_train)
    y_pred = knn.predict(x_test) 
    scores.append(accuracy_score(y_pred, y_test))
  scores = np.array(scores)
  return scores.mean()

In [9]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
def logregClassifier(X, y):
  scores=[]
  log = LogisticRegression(random_state=0)
  for a,b in cvKFold.split(X, y):
    x_train, x_test = X.iloc[a], X.iloc[b]
    y_train, y_test = y.iloc[a], y.iloc[b] 
    log.fit(x_train, y_train)
    y_pred = log.predict(x_test) 
    scores.append(accuracy_score(y_pred, y_test))
  scores = np.array(scores)
  return scores.mean()

In [10]:
#Naïve Bayes
from sklearn.naive_bayes import GaussianNB
def nbClassifier(X, y):
  scores=[]
  nb = GaussianNB()
  for a,b in cvKFold.split(X, y):
    x_train, x_test = X.iloc[a], X.iloc[b]
    y_train, y_test = y.iloc[a], y.iloc[b] 
    nb.fit(x_train, y_train)
    y_pred = nb.predict(x_test) 
    scores.append(accuracy_score(y_pred, y_test))
  scores = np.array(scores)
  return scores.mean()

In [11]:
# Decision Tree
from sklearn.tree import DecisionTreeClassifier
def dtClassifier(X, y):
  scores=[]
  tree = DecisionTreeClassifier(criterion='entropy',random_state=0)
  for a,b in cvKFold.split(X, y):
    x_train, x_test = X.iloc[a], X.iloc[b]
    y_train, y_test = y.iloc[a], y.iloc[b]  
    tree.fit(x_train, y_train)
    y_pred = tree.predict(x_test) 
    scores.append(accuracy_score(y_pred, y_test))  
  scores = np.array(scores)
  return scores.mean()

In [12]:
# Ensembles: Bagging, Ada Boost and Gradient Boosting
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

def bagDTClassifier(X, y, n_estimators, max_samples, max_depth):
  scores=[]
  bag = BaggingClassifier(DecisionTreeClassifier(criterion='entropy',  max_depth=max_depth ,random_state=0), n_estimators=n_estimators, max_samples=max_samples, bootstrap=True, random_state=0)
  for a,b in cvKFold.split(X, y):
      x_train, x_test = X.iloc[a], X.iloc[b]
      y_train, y_test = y.iloc[a], y.iloc[b]  
      bag.fit(x_train, y_train)
      y_pred = bag.predict(x_test)
      scores.append(accuracy_score(y_pred, y_test))
  scores = np.array(scores)
  return scores.mean()

def adaDTClassifier(X, y, n_estimators, learning_rate, max_depth):
    scores=[]
    ada = AdaBoostClassifier(DecisionTreeClassifier(criterion='entropy', max_depth=max_depth), n_estimators=n_estimators, learning_rate=learning_rate, random_state=0)
    for a,b in cvKFold.split(X, y):
      x_train, x_test = X.iloc[a], X.iloc[b]
      y_train, y_test = y.iloc[a], y.iloc[b]  
      ada.fit(x_train, y_train)
      y_pred = ada.predict(x_test)
      scores.append(accuracy_score(y_pred, y_test))
    scores = np.array(scores)
    return scores.mean()

def gbClassifier(X, y, n_estimators, learning_rate):
  scores=[]
  gb = GradientBoostingClassifier( n_estimators=n_estimators, learning_rate=learning_rate, random_state=0)
  for a,b in cvKFold.split(X, y):
      x_train, x_test = X.iloc[a], X.iloc[b]
      y_train, y_test = y.iloc[a], y.iloc[b]  
      gb.fit(x_train, y_train)
      y_pred = gb.predict(x_test)
      scores.append(accuracy_score(y_pred, y_test))
  scores = np.array(scores)
  return scores.mean()

### Part 1 Results

In [13]:
#Creating the training and class column.
class_col=new_data["class"]
new_data.drop("class", axis=1, inplace=True)
X= new_data
#KNN
k=3

#Bagging
bag_n_estimators = 50
bag_max_samples = 100
bag_max_depth = 5

#AdaBoost
ada_n_estimators = 50
ada_learning_rate = 0.5
ada_bag_max_depth = 5

#GB
gb_n_estimators = 50
gb_learning_rate = 0.5

# Print results for each classifier in part 1 to 4 decimal places here:
print("kNN average cross-validation accuracy: %.4f"%(kNNClassifier(X, class_col, k)))
print("LR average cross-validation accuracy: %.4f"%(logregClassifier(X,class_col)))
print("NB average cross-validation accuracy: %.4f"%(nbClassifier(X,class_col)))
print("DT average cross-validation accuracy: %.4f"%(dtClassifier(X, class_col)))
print("Bagging average cross-validation accuracy: %.4f"%(bagDTClassifier(X, class_col, bag_n_estimators, bag_max_samples, bag_max_depth)))
print("AdaBoost average cross-validation accuracy: %.4f"%(adaDTClassifier(X, class_col, ada_n_estimators, ada_learning_rate, ada_bag_max_depth)))
print("GB average cross-validation accuracy: %.4f"%(gbClassifier(X, class_col, gb_n_estimators, gb_learning_rate)))

kNN average cross-validation accuracy: 0.9642
LR average cross-validation accuracy: 0.9642
NB average cross-validation accuracy: 0.9585
DT average cross-validation accuracy: 0.9385
Bagging average cross-validation accuracy: 0.9557
AdaBoost average cross-validation accuracy: 0.9628
GB average cross-validation accuracy: 0.9642

### Part 2: Cross validation with parameter tuning

In [14]:

Y = class_col
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y,
                                                    stratify=Y, 
                                                     random_state=0)

In [15]:
# Linear SVM
# You should use SVC from sklearn.svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV


def bestLinClassifier(X,y):
  linear_svm=SVC(kernel="linear",random_state=0)
  grid_search = GridSearchCV(linear_svm,grid,cv=cvKFold)
  grid_search.fit(X,y)
  test_score=grid_search.score(X_test,Y_test)
  return  [grid_search.best_params_,grid_search.best_score_,test_score]

In [16]:
# Random Forest
# You should use RandomForestClassifier from sklearn.ensemble with information gain and max_features set to ‘sqrt’.
from sklearn.ensemble import RandomForestClassifier

def bestRFClassifier(X,y):
  myclf = RandomForestClassifier(criterion='entropy',max_features = 'sqrt',random_state=0)
  grid_search = GridSearchCV(myclf,grid,cv=cvKFold)
  grid_search.fit(X,y)
  test_score=grid_search.score(X_test,Y_test)
  return  [grid_search.best_params_,grid_search.best_score_,test_score]

### Part 2 Results

In [17]:

C = [0.001, 0.01, 0.1, 1, 10, 100] 
gamma = [0.001, 0.01, 0.1, 1, 10, 100] 
grid_svc = {'C': C,
              'gamma': gamma}
grid = grid_svc
tuning_result = bestLinClassifier(X_train,Y_train)
print("SVM best C: %.4f"%(tuning_result[0]['C']))
print("SVM best gamma: %.4f"%(tuning_result[0]['gamma']))
print("SVM cross-validation accuracy: %.4f"%(tuning_result[1]))
print("SVM test set accuracy: %.4f"%(tuning_result[2]))
print("")

n_estimators = [10, 20, 30, 50, 100]
max_leaf_nodes = [4, 10, 16, 20, 30]
grid_rf={'n_estimators': n_estimators,
      'max_leaf_nodes': max_leaf_nodes}
grid = grid_rf
rf_tuning = bestRFClassifier(X_train,Y_train)
print("RF best n_estimators: %d"%(rf_tuning[0]['n_estimators']))
print("RF best max_leaf_nodes: %d"%(rf_tuning[0]['max_leaf_nodes']))
print("RF cross-validation accuracy: %.4f"%(rf_tuning[1]))
print("RF test set accuracy: %.4f"%(rf_tuning[2]))

SVM best C: 1.0000
SVM best gamma: 0.0010
SVM cross-validation accuracy: 0.9657
SVM test set accuracy: 0.9714

RF best n_estimators: 30
RF best max_leaf_nodes: 4
RF cross-validation accuracy: 0.9675
RF test set accuracy: 0.9600